
@{
    ViewBag.Title = "KayitOl";
}

<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Kayit Ol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <header class="masthead h-100">
        <div class="container h-100">
            <form id="form-kayit" action="~/Home/KayitOl" method="post">
                <div class="limiter">

                    <div class="container col-lg-10 ">
                        <div class=" col-lg-10  align-self-baseline text-left">

                            <form class=" login100-form  ">
                                <span class="login100-form-title p-b-20 text-white  nav-link js-scroll-trigger ">
                                    KAYIT OL
                                </span>
                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    TC
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Username is required">
                                    <input class="input100" pattern="[0-9]{11}" maxlength=11 type="text" name="tc" onkeypress="return isNumberKey(event)" required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>
                                <p style="color:red">@ViewBag.mesaj </p>
                                <br />
                                <span class="txt1 p-b-11 text-white  nav-link js-scroll-trigger">
                                    Ad
                                </span>
                                <div class="wrap-input100 text-lowercase validate-input m-b-12" data-validate="Password is required">

                                    <input onkeypress="return /[a-zöüğşıuiç]/i.test(event.key)" class="input100" type="text" name="ad" maxlength=20 required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Soyad
                                </span>
                                <div class="wrap-input100 text-lowercase validate-input m-b-12" data-validate="Password is required">

                                    <input onkeypress="return /[a-zöüğşıuiç]/i.test(event.key)" class="input100" type="text" name="soyad" maxlength=20 required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Cinsiyet
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                                    <select class="input100" name="cinsiyet">
                                        <option value="0" selected="">Kadın</option>
                                        <option value="1">Erkek</option>
                                    </select>
                                </div>


                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Doğum Tarihi
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">

                                    <input class="input100" type="date" name="tarih" min="1979-12-31" max="2000-01-02" placeholder="1979-12-31" required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Telefon
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">

                                    <input type="tel" class="input100" name="telefon" onkeypress="return isNumberKey(event)"  maxlength="11" placeholder="05551232070" required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Email
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">

                                    <input class="input100" type="email" name="email" autocomplete="off" required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11 text-white  nav-link js-scroll-trigger">
                                    Adres
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">

                                    <input class="input100" type="text" name="adres" required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>

                                <span class="txt1 p-b-11  text-white  nav-link js-scroll-trigger">
                                    Şifre
                                </span>
                                <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                                    <span class="btn-show-pass">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <input class="input100" type="password" name="sifre" maxlength=8 required autocomplete="off">
                                    <span class="focus-input100"></span>
                                </div>


                                @*<div class="flex-sb-m w-full p-b-48">
                                        <div class="contact100-form-checkbox">
                                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                            <label class="label-checkbox100" for="ckb1">
                                                Remember me
                                            </label>
                                        </div>

                                        <div>
                                            <a href="#" class="txt3">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>*@

                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Kayıt Ol
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </header>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>

<script>
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>




